<h2>Shopping List</h2>

<button type="button"
  class="btn btn-primary"
  (click)="onGoToHome()">
  Go to Home
</button>

<div class="row">
  <div class="col-12">
    <hr>

    <form
      [formGroup]="addNewItemForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-7">
          <label class="sr-only" for="addNewItemName">Name</label>
          <input type="text"
            class="form-control mb-2"
            id="addNewItemName"
            placeholder="Item name"
            formControlName="itemName">
        </div>
        <div class="col-sm-3">
          <label class="sr-only" for="addNewItemCount">Amount</label>
          <input type="number"
            class="form-control mb-2"
            id="addNewItemCount"
            placeholder="Item count"
            formControlName="itemCount"
            min="1">
        </div>
        <div class="col-sm-2">
          <button type="submit"
            class="btn btn-primary mb-2"
            [disabled]="!addNewItemForm.valid">
            Add
          </button>
        </div>
      </div>
    </form>


    <div class="card"
      *ngFor="let slItem of shoppingLists">
      <div class="card-body">
        <h5 class="card-title">{{ slItem.title }}</h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"
          *ngFor="let ingredient of slItem.ingredients">
          <app-shopping-list-item
            [ingredient]="ingredient"></app-shopping-list-item>
        </li>
      </ul>
    </div>
  </div>
</div>
