<div class="card mb-3">
  <header class="card-header">
    <div class="row">
      <div class="col">
        <h4>{{recipe.name}}</h4>
      </div>
    </div>
  </header>
    <img class="card-img-top"
      [src]="recipe.imagePath"
      alt="{{recipe.name}}">
    <div class="card-body">
      <p class="card-text">
        {{recipe.description}}
      </p>

      <div class="row mb-2">
        <div class="col">
          <h4>
            Ingredients:
          </h4>
        </div>
        <div class="col">
          <app-recipe-item-action-button
            [recipe]="recipe"></app-recipe-item-action-button>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }}
          <span class="badge badge-primary badge-pill">
            {{ ingredient.amount }}
          </span>
        </li>
      </ul>
    </div>
</div>
