<div class="row">
  <div class="col-sm-12">
    <div class="card mb-3">
      <header class="card-header">
        <div class="row">
          <div class="col">
            <h4>{{recipe.name}}</h4>
          </div>
          <div class="col" *ngIf="recipe.isDeleted">
            <h5>Deleted</h5>
          </div>
          <div class="col">
            <app-recipe-item-action-button
              [recipe]="recipe"></app-recipe-item-action-button>
          </div>
        </div>
      </header>
      <a [routerLink]="['/recipe-book', getRecipeId()]"
         [queryParams]="{allowEdit: '1', test: '1'}"
         fragment="loading">
        <img class="card-img-top"
          [src]="recipe.imagePath"
          alt="{{recipe.name}}">
        <div class="card-body">
          <p class="card-text">
            {{recipe.description}}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
